#easter-egg{
    display: none;
    width: -webkit-fill-available;
    text-align: center;
    margin: 20px auto;
    color: red;

    &.show{
        display: block;
    }
}   

.formulario{
    border: 1px solid;
    max-width: 50%;
    margin: auto;
    padding: 10px;

    input{
        margin: 10px 0;
        padding: 5px;
        width: -webkit-fill-available;
    }

    button{
        margin: auto;
        display: block;
        padding: 5px;
    }

    .log{
        margin: 10px 0;
    }
}