@import "/components/card-produtos/card-produtos.component.less";
@import "/components/formulario/formulario.component.less";
@import "/components/planos/planos.component.less";

@corPrimaria: #fff;
@corSecundaria: #000;
@corTerciaria: #808080;
@corQuarternaria: #4ca5fe;
@corQuinternaria: #ff0000;
@shadow: #00000033;