.cardProdutos{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1rem;
    
    .produto,
    .plano {
        background-color: #fff;
        border-radius: 0.25rem;
        box-shadow: 0 2px 4px #2d313880;
        cursor: pointer;
    
        a{
            text-decoration: none;
            color: #000;
        
            .informacao {
                padding: 1rem;
                text-align: center;
            }
        }
    }
}

.produtos {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1rem;
    
    .produto,
    .plano {
        background-color: #fff;
        border-radius: 0.25rem;
        box-shadow: 0 2px 4px #2d313880;
        cursor: pointer;
    
        .informacao {
            padding: 1rem;
            text-align: center;
        }
    }
}

.planos {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-family: arial;
    max-width: 300px;
    margin: auto;
    text-align: center;

    h3{
        margin-top: 10px;
        font-size: 2em;
    }

    p{
        padding: 10px;

        &.price {
            color: grey;
            font-size: 22px;
        }
    }

    button {
        border: none;
        outline: 0;
        padding: 1em;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;

        &:hover {
            opacity: 0.7;
        }
    }
}

.formulario{
    border: 1px solid;
    max-width: 50%;
    margin: auto;
    padding: 10px;

    input{
        margin: 10px 0;
        padding: 5px;
        width: -webkit-fill-available;
    }

    button{
        margin: auto;
        display: block;
        padding: 5px;
    }

    .log{
        margin: 10px 0;
    }
}
