<div class="produtos">
    <div class="planos" ng-repeat="plano in produto.planos">
        <h3>{{ plano.aparelho.nome }}</h3>
        <p class="price">R${{ plano.aparelho.valor }}</p>
        <p>
            Parcelamento em até {{ plano.aparelho.numeroParcelas }}x de {{ plano.aparelho.valorParcela }}
        </p>
        <p>
            Pacote com {{ plano.franquia }} no valor de R$ {{ plano.valor }}
        </p>
        <a href="#!formulario/id">
            <button>
                Comprar
            </button>
        </a>
    </div>
</div>