
.produtos {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1rem;

    .planos {
        box-shadow: 0 4px 8px 0 @shadow;
        cursor: pointer;
        margin: auto;
        max-width: 300px;
        text-align: center;
    
        h3{
            font-size: 2em;
            margin-top: 10px;
        }
    
        p{
            padding: 10px;
    
            &.price {
                color: @corTerciaria;
                font-size: 22px;
            }
        }
    
        button {
            background-color: @corSecundaria;
            border: none;
            color: @corPrimaria;
            cursor: pointer;
            font-size: 18px;
            outline: 0;
            padding: 1em;
            text-align: center;
            width: 100%;
    
            &:hover {
                opacity: 0.7;
            }
        }
    }
    
    @media screen and (max-width: 767px) {
        grid-template-columns: auto;
        grid-gap: 1rem;
    }
}