<section class="cardProdutos">
    <div class="produto" ng-repeat="produto in produtos.plataformas">
        <a ng-href="#!{{produto.sku}}">
            <p class="informacao">{{ produto.nome }}</p>
            <p class="informacao">{{ produto.descricao }}</p>
        </a>
    </div>
</section>

<section class="cardProdutos">
    <div class="produto" ng-repeat="produto in produtos.planos">
        <a ng-href="#!formulario/{{produto.sku}}">
            <p class="informacao">Valor R${{ produto.valor }}</p>
            <p class="informacao">Pacote com {{ produto.franquia }}</p>
            <button>
                Comprar
            </button>
        </a>
    </div>
</section>