.cardProdutos{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1rem;
    
    .produto,
    .plano {
        background-color: @corPrimaria;
        border-radius: 0.25rem;
        box-shadow: 0 2px 4px @shadow;
        cursor: pointer;
    
        a{
            color: @corSecundaria;
            text-decoration: none;
        
            .informacao {
                padding: 1rem;
                text-align: center;
            }
        }
    }

    @media screen and (max-width: 767px) {
        grid-template-columns: auto;
    }
}